#points_reason {
    .pointsReasonTable {
        .dt-reason {
            width: 60%;
        }

        .dt-content {
            font-weight: bolder;

            .type {
                color: #fff;
                padding-inline: 5px;
                padding-block: 2px;
                border-radius: 3px;
                margin-right: 10px;
                font-weight: bolder;

                &.good {
                    color: #00631b;
                    background: #8affa7;
                }
                &.bad {
                    color: #f00;
                    background: #ffcfd4;
                }
                &.etc {
                    color: #424242;
                    background: #dfdfdf;
                }
            }

            text-wrap: wrap;
        }

        .dt-button {
            .editButton {
                margin-left: 0.1rem;
                margin-right: 0.1rem;
            }
        }
    }
}
